<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.juzi.duotulockscreen">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application android:allowBackup="true"
                 android:name=".App"
                 android:largeHeap="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme">

        <activity
            android:name=".lockscreen.LockScreenNullActivity"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/My.Holo.Light.NoActionBar"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.PickImgOutOfOrderActivity"
            android:theme="@style/My.Holo.Light.NoActionBar"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.PickImgBigActivity"
            android:theme="@style/My.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.ClipImgActivity"
            android:theme="@style/My.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.LockScreenBigImgActivity"
            android:theme="@style/My.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".lockscreen.LockScreenReceiver" >
            <intent-filter >
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".lockscreen.NotificationMonitor"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".lockscreen.LockScreenService"
            android:stopWithTask="false"
            />
    </application>
</manifest>
